body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
  }
  
  nav {
      border-bottom: 2px solid orange;
      margin: 10px;
  }
  
  ol {
      padding-left: 0;
  }
  
  .crumb {
      margin-right: 2em;
      display: inline;
  }

  a {
	color: orange;
}

a:visited {
	color: crimson;
}

main{
    background-color: white;
    height: 80vh;
}

.silverLake{
    width: 600px;
    max-height: 300px;
    background-color: darkgray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#detail{
    width: 250px;

}

.about{
    display: flex;
    justify-content: space-evenly;

}

img{
    width: 250px;
    height: 200px;
}

.food{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}


ul{
    font-size: small;
}

#foodTitle{
    margin-left: 20px;
}

#random{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#randomBtn{
    height: 60px;
    width: 300px;
    background-color: blueviolet;
    color: aqua;
    border-radius: 20px;
}